<h1>Lista de Posts: </h1>





{{#each posts}}
<table border="1" class="table table-striped-columns">
    <tr>
        <td>Id: {{id}} </td>
    </tr>
    <tr>
        <td>Titulo: {{titulo}}</td>
    </tr>
    <tr>
        <td>Conteudo: {{conteudo}}</td>
    </tr>
    <tr>
        <td>Data: {{createdAt}} </td>
    </tr>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <a href="/alterar/{{id}}"><button>Alterar</button></a>
</table>
    <hr>
{{/each}}